{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Login
    {% endblock   %}
    {%block content%}
       <h1 style = "color: blue; font-weight: bolder;"> <strong> Iniciar sesion </strong> </h1>
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        <table style = "color: blue; font-size: large">
        <strong>
        {{form.as_table}}
        </strong>
        </table>
        <strong>
        <br>
        <input style = "color: blue; font-size: large; font-weight: bold;" type = "submit" value = "Iniciar sesion">
        </strong>
        </form>
    {% endblock %}