{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Sintomas
    {% endblock   %}
    {%block content%}
        {% if messages%}
            {% for message in messages%}
                <div class="notification {{message.tags}}">
                <h3 style = "color: blue; font-weight: bolder;"> <strong>   {{message}} </strong> </h1>
                </div>
            {% endfor%}
        {% endif %}
        
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        
       <div id="content">
       <h1 style = "color: white; font-weight: bolder;"> <strong> Sintomas  </strong> </h1>
       <br>
        <strong>
        {{formulario.as_p}}
        </strong>
        <strong>
        <br>
        </div>
        <br>
        <div id = "enviar">
        <input  type = "submit" value = "Enviar">
        </div>
        </strong>
        </form>
    {% endblock %}