{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
       Resultados
    {% endblock   %}
    {%block content%}
        {%if consejos%}
      <p style = "color: blue; font-size: large;"> <strong> Tus consejos son: </strong></p>
      <ul>
      {% for consejo in consejos %}
            <div id = "consejos">
            <li style = "color: blue; font-size: large; list-style:none; "> <strong> - {{consejo}}  </strong></li>
            <li></li>
            </div>
       {% endfor %}
       </ul>
       {% else %}
            <div id = "consejos">
            <p > <strong> Todo esta correcto! Quédate en casa, te cuidas y cuidas a los demás! </strong></p>
            </div>
        {% endif %}
        <div id="enviar">
        <a href="/tomaDatos/"> <button type = "button" style = "color: blue; font-size: large; font-weight: bold;"> Insertar mas sintomas </button> </a>
        </div>
    {% endblock %}