{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
       Resultados
    {% endblock   %}
    {%block content%}
        {%if consejos%}
      <p style = "color: blue; font-size: large;"> <strong> Tus consejos son: </strong></p>
      <ul>
      {% for consejo in consejos %}
            <li style = "color: blue; font-size: large;"> <strong> {{consejo}}  </strong></li>

       {% endfor %}
       </ul>
       {% else %}
            <p style = "color: blue; font-size: large;"> <strong> Quédate en casa, te cuidas y cuidas a los demás! </strong></p>

        {% endif %}
    {% endblock %}